################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/cpp-problem-solving/cpp-prob.336682aa/x64/Debug
/cpp-problem-solving/x64/Debug
/cpp-problem-solving/cpp-prob.336682aa
/cpp-problem-solving/Debug
/C++ ProblemSolving/OneNote_RecycleBin
/C++ ProblemSolving/Open Notebook.onetoc2
/C++ ProblemSolving/Phase 1 - PS.one
